   	
    <section class="partform">
    	
       		<!--<img src="img/story.png"  class="img-responsive " style="width:100%;  height:auto;">--> 
       
    </section> 
    <section class="w3-padding-48">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<h1 class="w3-text-white text-center w3-padding-32" style="font-size: 300%; "><strong>Give your team better business rides.</strong></h1>
                    <p class="w3-text-white">Destiny is bringing safe, on-demand ground transportation to thousands of organizations. Our custom solutions give your team more affordable, reliable rides wherever work takes them. Contact us to learn more about partnering with Destiny.</p>
                </div>
                <div class="col-md-6">
                 	<div class="col-md-12 w3-white w3-card-4 w3-round-large w3-padding-16">
                    <h3>APPLAY NOW</h3>
                    <div class="col-md-12 w3-padding-4">
                    	<input type="text" class="form-control input-lg" name="fame"  placeholder="First Name" required>
                    </div>
                    <div class="col-md-12 w3-padding-4">
                    	<input type="text" class="form-control input-lg" name="lame"  placeholder="Last Name" required>
                    </div>
                    <div class="col-md-12 w3-padding-4">
                    	<input type="email" class="form-control input-lg" name="email"  placeholder="Email Address" required>
                    </div>
                    <div class="col-md-12 w3-padding-4">
                    	<input type="text" class="form-control input-lg" name="phone"  placeholder="Phone Number" required>
                    </div>
                    <div class="col-md-12 w3-padding-4">
                    	<input type="text" class="form-control input-lg" name="company"  placeholder="Company Name">
                    </div>
                    <div class="col-md-12 w3-padding-4">
                    	<label>Company Size</label>
                    	<select name="comanysize" class="form-control input-lg" placeholder="Company Size">
                        <option value=""></option>
                          <option value="1-50">1-50</option>
                          <option value="51-200">51-200</option>
                          <option value="201-500">201-500</option>
                          <option value="501_1000">501-1000</option>
                          <option value="5000pluse">5000+</option>
                        </select>
                    </div>
                    <div class="col-md-12 w3-padding-4">
                    	<label>Transporting Need</label> <span class="pull-right"><a href="#" style="color:#c4474a;">Evry Ride</a></span>
                    	<select name="need" class="form-control input-lg" placeholder="Company Size">
                        <option value=""></option>
                          <option value="business">Business Trip</option>
                          <option value="comuniting">Communiting</option>
                          <option value="every">Every Rides (ex:Holiday Parties)</option>
                          <option value="shuttle">Shuttle Programs</option>
                          <option value="other">Other</option>
                        </select>
                    </div>
                    
                    <div class="col-md-12 w3-padding-4">
                    	<button type="button" class="btn btn-danger btn-block btn-lg">BECOME A DRIVER</button>
                     </div>
                    </div>
                </div>
            </div>
         </div>
    </section>
    <section class="w3-padding-48 w3-white">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-4">
                	<div class="round">
                    	<h1 class="spe"><i class="fa fa-briefcase" aria-hidden="true" style="margin-top: 20px; margin-left: 32px;"></i></h1>
                    </div> 
                     <div class="col-md-12 text-center">
                    	<h3 class="text-center spe">Convenience </h3>
                        <p>Request a ride from anywhere, and get matched with a local driver at the tap of a button.</p>
                    </div>               	
                </div>
                <div class="col-md-4 ">
                	<div class="round">
                    	<h1 class="spe"><i class="fa fa-car" aria-hidden="true" style="margin-top: 20px; margin-left: 29px;"></i></h1>
                    </div>
                   	<div class="col-md-12 text-center">
                    	<h3 class="text-center spe">Safe Ride</h3>
                        <p>Stay safe with our driver background checks, $1M insurance, and Critical Response Line.</p>
                    </div>
                </div>
                <div class="col-md-4">
                	<div class="round">
                    	<h1 class="spe"><i class="fa fa-money" aria-hidden="true" style="margin-top: 20px; margin-left: 33px;"></i></h1>
                    </div>
                    <div class="col-md-12 text-center">
                    	<h3 class="text-center spe">Cost Saving</h3>
                        <p>Help your team cut travel spending with savings of up to 30% compared to other services.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <section class="w3-padding-48" style="background-color: #c18d8e;">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 w3-padding-16 text-center">
                	<h1 class="w3-text-white">Let's Build Right Solution For Your Team.</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="w3-padding-64 w3-white">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<table width="100%" style="margin-top:10px;">
                    	<TR>
                            <TD class="text-center" style="width:50%;"><h3>Dedicated Account Managers</h3><p>We'll help you create a custom solution for your team and keep it running smoothly</p></TD>	
                            <TD >
                           	<img src="img/a.jpg" style="width:100%; height:auto;">
                            </TD>
                          </TR>
                       </table>
                       <table width="100%" style="margin-top:10px;">
                    	<TR>
                            <TD  style="width:50%;">
                            		<img src="img/b.jpg" style="width:100%; height:auto;">
                            </TD>	
                            <TD class="text-center"><h3>Ride Insights</h3><p>You&rsquo;ll have more visibility into your team&rsquo;s usage data and travel trends.</p></TD>
                          </TR>
                       </table>
                       <table width="100%" style="margin-top:10px;">
                    	<TR>
                            <TD class="text-center" style="width:50%;"><h3>Growing Product Offerings</h3><p>We&rsquo;re continuing to build new tools that make your team&rsquo;s business rides better.</p></TD>	
                            <TD >
                           	<img src="img/c.jpg" style="width:100%; height:auto;">
                            </TD>
                          </TR>
                       </table>
                </div>
            </div>
        </div>                	
    </section>
    <section class="w3-white w3-padding-24">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 text-center">
                	<h3>Add ridesharing to your business travel program.</h3>
                    <button type="button" class="btn btn-danger btn-lg">Learn Why</button>
                </div>
            </div>
        </div>
    </section>
    <section class="driverclrbox w3-padding-24">
        <div class="container">
        	<div class="row">
            	<div class="col-md-12 text-center w3-text-white">
                	<h3>Easy expensing has arrived.</h3>
                    <p>Keep your ride receipts and payment methods organized with a business profile.</p>
                    <button type="button" class="btn  btn-lg w3-btn w3-red">Crete Business Profile</button>
                </div>
             </div>
         </div>
    </section>
    <section class="w3-padding-24 w3-white">
        <div class="container">
        	<div class="row">
            	<div class="col-md-3 text-center">
               		<img src="img/b386965b-business-travel-icon-01.png" class="img-responsive" style="margin:auto;"> 
                    <h3>Business Travel</h3>
                    <p>Affordable ground transportation for flights and across town meetings.</p>
                </div>
                <div class="col-md-3 text-center">
                	<img src="img/dc46b6fd-daily-commutes-icon-01.png" class="img-responsive" style="margin:auto;"> 
                    <h3>Daily Commutes</h3>
                    <p>Door-to-door rides for morning and evening commutes.</p>
                </div>
                <div class="col-md-3 text-center">
                	<img src="img/3e663ecb-meetings-and-events-icon-01.png" class="img-responsive" style="margin:auto;">
                   	<h3>Meetings and Events </h3>
                    <p>Reliable transportation for company parties and conferences.</p>
                </div>
                <div class="col-md-3 text-center">
                	<img src="img/3e663ecb-meetings-and-events-icon-01.png" class="img-responsive" style="margin:auto;"> 
                    <h3>Late Night Rides</h3>
                    <p>A safe way to get home when your team works late.</p>
                </div>
            </div>
         </div>
     </section>
  
  