

    	
    <section class="fixcover" style="background-image:url(img/partners.jpg);"> 
           		
       
    </section> 
    <section class="w3-padding-128">
    	<div class="container">
            	<div class="row">
                	<div class="col-md-12 text-center w3-text-white w3-padding-64">
                    <h1>Partner with Destiny</h1>
                    <p>Get more people to your business, event, or meeting by partnering with Destiny.</p>
                    </div>
                </div>
        </div>
    </section>
   <section class="w3-white w3-padding-32 ">
   		<div class="container">
            	<div class="row">
                	<div class="col-md-6 col-md-offset-3 w3-light-grey w3-card-8 w3-padding-8 w3-round-xlarge w3-container w3-padding-24" style="margin-top: -100px;">
                        <h1 style="color:#c4474a;">Let’s get started. What type of partnership are you looking for?</h1>
                        <form>
                            <label><input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0"> I want to provide my customers with a new rider coupon</label><br>
                            <label><input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_1"> I want to fundraise / earn side income for growing the Destiny community.</label><br>
                            <label><input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2"> I want my company to add ridesharing to our business travel program.</label><br>
                        	<div class="w3-padding-4">
                            	<button type="button" class="btn btn-danger btn-block btn-lg"> Visit Mobility Solutions </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="row w3-padding-12">
                	<div class="col-sm-6 w3-padding-64">
                    	<h2 style="color:#c4474a;">Business Partners</h2>
                        <p>Give your customers free or discounted rides for visiting your site or store location, and earn side income for growing the Destiny community.</p>
                        <a href="#" class="btn btn-danger btn-lg">Bring Destiny to Your Business</a>
                    </div>
                    <div class="col-sm-6">
                   		<img src="img/small-business.d0ad18f9.png" style="width:100%; height:auto;"> 
                    </div>
                </div>
                <div class="row w3-padding-12">
                	<div class="col-sm-6">
                    	<img src="img/nonprofit.79d65237.png" style="width:100%; height:auto;"> 
                    </div>
                    <div class="col-sm-6  w3-padding-64">
                   		<h2 style="color:#c4474a;">Nonprofit Partners</h2>
                        <p>Being a force for good drives everything we do. We’d love to join forces with your nonprofit to help you raise funds and mobilize more supporters.</p>
                        <a href="#" class="btn btn-danger btn-lg">Bring Destiny to Your Business</a>
                    </div>
                </div>
                <div class="row w3-padding-12">
                	<div class="col-sm-6 w3-padding-64">
                    	<h2 style="color:#c4474a;">Student Group Partners</h2>
                        <p>From fraternities to school newspapers, our affordable rides help your group focus on important meetings and events — not coordinating transportation.</p>
                        <a href="#" class="btn btn-danger btn-lg">Bring Destiny to Your Business</a>
                    </div>
                    <div class="col-sm-6">
                   		<img src="img/student-group.aad1d28d.png" style="width:100%; height:auto;"> 
                    </div>
                </div>
        </div>
   </section>
   
