   <section class="w3-padding-24 road">
   	<div class="container-fluid">
    	<div class="col-md-6">
       	<img src="img/road.png" style="width:100%; height:auto; margin-top: -15%;"> </div>
        <div class="col-md-6">
        	<h1 class="w3-text-white w3-padding-24">FIND Destiny’s IN YOUR CITY</h1>

			<h1  class="w3-text-white w3-padding-24">Find a City</h1>

			<h1  class="w3-text-white w3-padding-24">See airports we serve</h1>
        </div>
    </div>
   </section>


      <section class="w3-white">
   	<div class="container-fluid w3-padding-12">
    	<div class="col-md-3 col-xs-6">
        	<h2 style="color:#c4474a;">
            	Company
            </h2>
            <ul class="foot">            
                <li><a href="#" class="footlink">Press</a></li>
                <li><a href="blog.html" class="footlink">Blog</a></li>
                <li><a href="#" class="footlink">Careers</a></li>
                <li><a href="#" class="footlink">Ride</a></li>
            </ul>          




        </div>
        <div class="col-md-3 col-xs-6">
        	<h2 style="color:#c4474a; visibility:hidden;">2</h2>
            <ul class="foot">            
                <li><a href="driver.html" class="footlink">Drive</a></li>
                <li><a href="cities.html" class="footlink">Cities</a></li>
                <li><a href="help.html" class="footlink">Help</a></li>
                <li><a href="#" class="footlink">Safety</a></li>
                <li><a href="#" class="footlink" onclick="document.getElementById('model1').style.display='block'">Log In</a></li>
                <li><a href="#" class="footlink">Explore</a></li>
            </ul>  
        </div>
        <div class="col-md-3 col-xs-6">
        	<h2 style="color:#c4474a;  visibility:hidden;">3</h2>
            <ul class="foot">            
                <li><a href="team.html" class="footlink">Enterprise</a></li>
                <li><a href="pertners.html" class="footlink">Partnerships</a></li>
                <li><a href="#" class="footlink">Desiny's For Good</a></li>
                <li><a href="ambassador.html" class="footlink">Ambassadors</a></li>
                <li><a href="#" class="footlink">Developers</a></li>
                <li><a href="#" class="footlink">Desiny's Promo Code</a></li>
            </ul> 
        </div>
        <div class="col-md-3 col-xs-6">
        	<h2 style="color:#c4474a;  visibility:hidden;">4</h2>
             <ul class="foot">            
                <li><a href="signup.html" class="footlink">Sign Up Now</a></li>
                <li><a href="#" class="footlink">Apple Store</a></li>
                <li><a href="#" class="footlink">Google Play</a></li>                
            </ul>          
        </div> 
              
    </div>
    <div class="container-fluid w3-white">
    <div class="col-md-12 text-center w3-padding-32 w3-white">
        <p style="color:#c4474a;">© 2016 Destiny’s , Inc.TermsPrivacy</p>
    </div> </div>
   </section>